extends layout

block content
  h1 Express Sub-App Demo
  p This page is rendred by the "Web" sub-app!
  p
    b Errors Demos
  p
    a(href="/foo") Errors 404
  p 
    b API Demos
  p
    a(href="/api") API JSON Result
  p
    a(href="/api/bar") API 404
  p
    a(href="/api/err") API Error
